---
import '../css/style.css';
import {join} from 'node:path';
import {AstroFont} from 'astro-font';

interface Props {
	class?: string;
	title: string;
	description?: string;
}

const {class: className, title, description} = Astro.props;
---

<!doctype html>
<html lang="en" class={className}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		{!!description && <meta name="description" content={description} />}
		<AstroFont
			config={[
				{
					name: 'Inter',
					src: [
						{
							style: '',
							weight: '100 900',
							path: join(
								process.cwd(),
								'public',
								'fonts',
								'InterVariable-subset-new.woff2'
							)
						}
					],
					preload: true,
					display: 'swap',
					selector: 'body',
					cssVariable: 'font-base',
					fallback: 'sans-serif',
					fallbackName: 'Inter Fallback'
				}
			]}
		/>
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
